certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
frappe-bench==5.23.0
gitdb==4.0.12
GitPython==3.1.44
honcho==2.0.0
idna==3.10
Jinja2==3.1.5
MarkupSafe==3.0.2
python-crontab==2.6.0
python-dateutil==2.9.0.post0
requests==2.32.3
semantic-version==2.10.0
setuptools==75.8.0
six==1.17.0
smmap==5.0.2
urllib3==2.3.0
